auth_enabled: false

server:
  http_listen_port: 3100
  grpc_listen_port: 9096

  http_listen_address: 0.0.0.0
  grpc_listen_address: 0.0.0.0

common:
  instance_addr: 127.0.0.1
  path_prefix: /tmp/loki
  storage:
    filesystem:
      chunks_directory: /tmp/loki/chunks
      rules_directory: /tmp/loki/rules
  replication_factor: 1
  ring:
    instance_addr: 0.0.0.0
    kvstore:
      store: inmemory

schema_config:
  configs:
    - from: 2020-10-24
      store: boltdb-shipper
      object_store: filesystem
      schema: v11
      index:
        prefix: index_
        period: 24h

ruler:
  alertmanager_url: http://localhost:9093

limits_config:
  allow_structured_metadata: false  # ДОБАВЛЕНО: отключаем structured metadata
  reject_old_samples: true
  reject_old_samples_max_age: 168h
  max_query_length: 0s
  max_query_parallelism: 14
  retention_period: 744h

  ingestion_rate_mb: 50
  ingestion_burst_size_mb: 50
  max_entries_limit_per_query: 5000
  max_streams_per_user: 10000
  ingestion_rate_strategy: "local"

ingester:
  lifecycler:
    address: 127.0.0.1
    ring:
      kvstore:
        store: inmemory
      replication_factor: 1

table_manager:
  retention_deletes_enabled: false
  retention_period: 0s

chunk_store_config:
  chunk_cache_config:
    embedded_cache:
      enabled: true
      max_size_mb: 500

compactor:
  working_directory: /loki/compactor

frontend:
  compress_responses: true