global:
  scrape_interval: 15s
  evaluation_interval: 15s

rule_files:
  # - "first_rules.yml"

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']
  - job_name: 'loki'
    static_configs:
      - targets: ['localhost:3100']

  - job_name: 'backend'
    metrics_path: /metrics
    scrape_interval: 10s
    scrape_timeout: 8s
    static_configs:
      - targets: ['backend:8000']

        labels:
          service: 'todo-backend'
          app: 'fastapi'
          environment: 'development'
          instance: 'backend-1'



    honor_labels: true  # Не перезаписывать метки из приложения
    scheme: http  # Явно указать схему

  - job_name: 'node-exporter'
    static_configs:
      - targets: ['node-exporter:9100']
        labels:
          service: 'node-exporter'